{
  "presets": ["@babel/env"],
  "plugins": [
    "@babel/plugin-transform-member-expression-literals",
    "@babel/plugin-transform-property-literals",
    "@babel/plugin-proposal-object-rest-spread"
  ]
}
