{
  "plugins": [
    "jest",
    "prettier"
  ],
  "extends": [
    "airbnb-base",
    "standard",
    "plugin:jest/recommended",
    "prettier"
  ],

  "rules": {
    "no-console": "off",
    "no-underscore-dangle": "off",
    "comma-dangle": "off",
    "class-methods-use-this": "off",
      "prettier/prettier": [
        "error"
      ]
    }
}
