{
  "root": true,
  "parserOptions": {
    "project": [
      "."
    ]
  },
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "jest",
    "prettier",
    "@typescript-eslint"
    
  ],
  "extends": [
    "airbnb-base",
    "airbnb-typescript/base",
    "standard",
    "plugin:jest/recommended",
    "prettier"
  ],

  "rules": {
    "no-console": "off",
    "no-underscore-dangle": "off",
    "comma-dangle": "off",
    "class-methods-use-this": "off",
    "prettier/prettier": [
      "error"
    ]
  }
}
